@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-base {
    --bg-opacity: 1;
    background-color: #46A049;
    background-color: rgba(70, 160, 73, var(--bg-opacity));
}

.bg-green-base:hover {
    --bg-opacity: 1;
    background-color: #46A049;
    background-color: rgba(70, 160, 73, var(--bg-opacity));
}

.bg-green-light {
    --bg-opacity: 1;
    background-color:#e0f8dd;
    background-color: rgba(224, 248, 221, var(--bg-opacity));
}

.bg-green-light:hover {
    --bg-opacity: 1;
    background-color:#e0f8dd;
    background-color: rgba(224, 248, 221, var(--bg-opacity));
}

.border-green-base {
    --border-opacity: 1;
    border-color: #46A049;
    border-color: rgba(70, 160, 73, var(--border-opacity));
}

.border-green-dark:hover {
    --border-opacity: 1;
    border-color: #006400;
    border-color: rgba(0, 100, 0, var(--border-opacity));
}

.text-green-base {
    --text-opacity: 1;
    color:#46A049;
    color: rgba(70, 160, 73, var(--text-opacity));
}

.text-green-light {
    --text-opacity: 1;
    color:#e0f8dd;
    color: rgba(224, 248, 221, var(--text-opacity));
}

.text-green-dark {
    --text-opacity: 1;
    color:#006400;
    color: rgba(0, 100, 0, var(--text-opacity));
}

.text-green-dark:hover {
    --text-opacity: 1;
    color:#006400;
    color: rgba(0, 100, 0, var(--text-opacity));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#container {
    height: 280px; 
    width: 300px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px; 
    max-width: 600px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}