@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-green-base {
    --bg-opacity: 1;
    background-color: #46A049;
    background-color: rgba(70, 160, 73, var(--bg-opacity));
}

.bg-green-base:hover {
    --bg-opacity: 1;
    background-color: #46A049;
    background-color: rgba(70, 160, 73, var(--bg-opacity));
}

.bg-green-light {
    --bg-opacity: 1;
    background-color:#e0f8dd;
    background-color: rgba(224, 248, 221, var(--bg-opacity));
}

.bg-green-light:hover {
    --bg-opacity: 1;
    background-color:#e0f8dd;
    background-color: rgba(224, 248, 221, var(--bg-opacity));
}

.border-green-base {
    --border-opacity: 1;
    border-color: #46A049;
    border-color: rgba(70, 160, 73, var(--border-opacity));
}

.border-green-dark:hover {
    --border-opacity: 1;
    border-color: #006400;
    border-color: rgba(0, 100, 0, var(--border-opacity));
}

.text-green-base {
    --text-opacity: 1;
    color:#46A049;
    color: rgba(70, 160, 73, var(--text-opacity));
}

.text-green-light {
    --text-opacity: 1;
    color:#e0f8dd;
    color: rgba(224, 248, 221, var(--text-opacity));
}

.text-green-dark {
    --text-opacity: 1;
    color:#006400;
    color: rgba(0, 100, 0, var(--text-opacity));
}

.text-green-dark:hover {
    --text-opacity: 1;
    color:#006400;
    color: rgba(0, 100, 0, var(--text-opacity));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#container {
    height: 280px;
    width: 300px;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 600px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.right-dropdown {
    text-align-last: right;
}
.right-option {
    direction: rtl;
}

.tracker-grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 80px)) repeat(8, minmax(161px, 161px));
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

.bell-animation {
    animation: ring 4s .7s ease-in-out infinite;
}
